.content {
    width: 375px;
    height: 270px;
    margin: 30px 5px;
}

.title {
    -webkit-font-smoothing: antialiased;
    font-family: Shapiro, sans-serif;
    font-size: 9px;
    letter-spacing: 2.2px;
    line-height: 8px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#donate {
    font-family: Shapiro, sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2.2px;
    line-height: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px -50px;
    padding: 16px 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    left:50%;
}

#sortButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.tsbSortButton {
    font-family: Shapiro, sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2.2px;
    line-height: 13px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 16px 24px;
    color: rgb(13, 13, 15);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.box {
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12ch;
    padding: 10px 10px;
    width: fit-content;
    max-height: 20px;
    color: rgb(255, 255, 255);
    font-family: Shapiro, sans-serif;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    white-space: pre;
    background-color: rgb(50, 94, 255);
}
